#blog {
    background-color: var(--palette3-color-1);
    padding: 40px 20px; 
    text-align: left; 
}

#blog h2 {
    color: var(--iridium);
    margin-bottom: 30px; 
}


#blog .container-blog {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}


#blog .blog-post {
    background-color: #fff; 
    border-bottom: 1px solid #fff; 
    padding: 20px;
    margin-bottom: 20px; 
    transition: background-color 0.3s ease; 
}

#blog .blog-post:hover {
    background-color: #f8f8f8; 
}


#blog .blog-post h3 {
    font-size: 1.5rem; 
    color: var(--palette3-color-5);
    margin: 0 0 10px; /
}

#blog .blog-post p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 15px; 
}

#blog .blog-post p:last-of-type {
    margin-bottom: 20px; 
}

.btn-container {
    text-align: center; 
}


button,
input[type="submit"] {
    font-size: calc(var(--p-size) * 1); 
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--palette3-color-5);
    padding: 10px 15px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--palette3-color-4); 
    box-shadow: 0 0 0 var(--palette3-color-3-O22); 
}


@media (max-width: 768px) {
    #blog .container-blog {
        padding: 0 10px; 
    }
}

@media (max-width: 480px) {
    #blog .blog-post {
        padding: 15px; 
    }
}