* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.rounded {
   border-radius: var(--img-radious-global);
}

html {
   font-size: var(--p-size);
}

header {
   position: sticky;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* backdrop-filter: blur(5px); */
   top: 0;
   animation: header linear both;
   animation-timeline: scroll();
   animation-range: 0 50px;
   background-color: var(--navbar-background);
   box-shadow: 0 0 2.5rem var(--navbar-shadow);
   z-index: 100;
}

header,
section,
footer {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: auto;
   /* padding: 5rem; */
   align-items: center;
   border: var(--global-layout-border);
}

.container-general {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5rem;
   width: 100%;
   max-width: var(--max-width-lg);
   /*    background-color: blueviolet; */
}

.section-separator {
   width: var(--max-width-lg);
   height: 0.1rem;
   background-color: var(--palette3-color-5);
   margin: auto;
   transform: translateY(5.05rem);
}
footer {
   background-color: var(--palette3-color-5);
   padding: 2.5rem 5rem 2.5rem 5rem;
}
#introduccion {
   background-color: var(--palette3-color-2-L98);
}
#cursos {
   background-color: var(--palette3-color-3-L98);
}
#blog {
   background-color: var(--palette3-color-1);
}
#contacto {
   background-color: var(--palette3-color-2-L98);
}

header {
   padding: 0;
}

a {
   text-decoration: none;
   color: inherit;
   transition: var(--transition-quick);
}
a:hover {
   text-decoration: underline;
   color: inherit;
}
a:active {
   color: inherit;
}
a:visiter {
   color: inherit;
}
/* a:visited {
   color: red;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
   /* FONTS */
   font-family: var(--f-family-sans);
   font-weight: 600;
   text-align: center;
   color: var(--iridium);
   margin-bottom: 2.5rem;
}

h1 {
   font-size: calc(var(--p-size) * 4);
}

h2 {
   font-size: calc(var(--p-size) * 3);
}

h3 {
   font-size: calc(var(--p-size) * 2);
}

h4 {
   font-size: calc(var(--p-size) * 1.5);
}

h5 {
   font-size: calc(var(--p-size) * 1);
}

h6 {
   font-size: calc(var(--p-size) * 0.75);
}

p {
   /* FONTS */
   font-family: var(--p-family);
   font-size: var(--p-size);
   line-height: var(--p-line-height);
   color: var(--palette3-color-5);
}

.text-color-white {
   color: white;
}

.text-color-red {
   color: var(--palette3-color-4);
}

.copy-1 {
   font-size: calc(var(--p-size) * 1.5);
}

.btn_mg-top {
   margin: 2.5rem auto auto auto;
}

#decorative-1 {
   height: 75vh;
   background-image: url(/img/elianna-gill-YJPuBZhug-8-unsplash.webp);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

#blog {
   background-image: url(/img/engin-akyurt-yNIdeT0lnrA-unsplash.webp);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

.container-aliados {
}

.container-aliados-logos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   width: 100%;
   gap: calc(var(--gap-global) * 2);
}

.patrocinador {
   width: 100%;
}

.arrow-right {
   transform: translateX(0rem);
   transition: var(--transition-quick);
}

button:hover .arrow-right {
   transform: translateX(0.25rem);
}

.arrow-down {
   transform: translateY(0rem);
   transition: var(--transition-quick);
}

button:hover .arrow-down {
   transform: translateY(0.25rem);
}

@media screen and (width <= 1024px) {
}

@media screen and (width <= 768px) {
   header,
   section,
   footer {
      padding: 2.5rem;
   }

   .container-cursos {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (width <= 390px) {
   header,
   section,
   footer {
      padding: 2.5rem;
   }

   .container-cursos {
      grid-template-columns: 1fr;
   }
}

#dropdown-container {
   display: flex;
   justify-content: center; /* Centrado horizontal */
   align-items: center; /* Centrado vertical */
   margin-top: 20px; /* Espacio superior */
   height: 50px; /* Ajusta según necesites */
}

/* Ajustes del select */
#dropdown-cursos {
   padding: 10px;
   font-size: 16px;
}
