* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* COLORS */
   --iridium: #181818;
   --iridium-50: #18181888;
   --navbar-background: #ffffffcc;
   --navbar-shadow: var(--iridium-50);
   /* FONTS */
   --f-family-sans: "Montserrat", sans-serif;
   /* --f-family-sans: "Afacad Flux", sans-serif; */
   /* --f-family-sans: "Poppins", sans-serif; */
   --f-family-serif: "Lora", serif;
   /* --f-family-serif: "Merriweather", serif; */
   /* --f-family-serif: "Roboto", sans-serif; */
   --p-family: "Hind Madurai", sans-serif;
   --p-size: 12pt;
   --p-line-height: 1.5;

   /* WIDTHS */
   --max-width-xxl: 1024px;

   /* HEIGHTS */
   --btn-height-global: 2.5rem;
   --field-height-global: var(--btn-height-global);

   /* GAPS */
   --navbar-gap: 1.5rem;

   /* RADIOUS */
   --img-radious-global: 1rem;
   --btn-radious-global: 0.5rem;
   --field-radious-global: var(--btn-radious-global);
}

.rounded {
   border-radius: var(--img-radious-global);
}

html {
   font-size: var(--p-size);
}

header {
   position: sticky;
   display: flex;
   flex-direction: column;
   align-items: center;
   backdrop-filter: blur(5px);
   top: 0;
   animation: header linear both;
   animation-timeline: scroll();
   animation-range: 0 50px;
   box-shadow: 0 0 2.5rem var(--navbar-shadow);
   background-color: var(--navbar-background);
   z-index: 100;
}

body {
}

#announcements {
   font-size: calc(var(--p-size) * 2);
   align-content: center;
   padding: 1rem;
   background-color: aquamarine;
}

.container-announcement {
   max-width: var(--max-width-xxl);
   background-color: coral;
   overflow: hidden;
}

#announcement {
   position: relative;
   left: 100%;
   padding: 0;
   animation: roller 30s linear 2s infinite forwards;
   text-wrap: nowrap;
}

@keyframes roller {
   0% {
      left: 100%;
   }
   100% {
      left: -100%;
   }
}

header,
section,
footer {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 5rem;
   align-items: center;
   border: 2px solid black;
}

header {
   padding: 0;
}

nav,
.container-general,
.container-navbar {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: var(--max-width-xxl);
   background-color: blueviolet;
}

nav {
   font-family: var(--f-family-sans);
   font-weight: 600;
   padding: 2.5rem 2.5rem 2.5rem 2.5rem;
   animation: navbar ease-in-out both;
   animation-timeline: scroll();
   animation-range: 0 200px;
   background-color: darkblue;
}

@keyframes navbar {
   from {
      padding: 2.5rem 0 2.5rem 0;
   }
   to {
      padding: 1rem 0 1rem 0;
   }
}

a {
   text-decoration: none;
   color: black;
}
a:hover {
   color: red;
}
a:active {
   color: black;
}
/* a:visited {
   color: red;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
   /* FONTS */
   font-family: var(--f-family-sans);
   font-weight: 600;
   text-align: center;
   color: var(--iridium);
   padding-bottom: 2.5rem;
}

h1 {
   font-size: calc(var(--p-size) * 4);
}

h2 {
   font-size: calc(var(--p-size) * 3);
}

h3 {
   font-size: calc(var(--p-size) * 2);
}

h4 {
   font-size: calc(var(--p-size) * 1.5);
}

p {
   /* FONTS */
   font-family: var(--p-family);
   font-size: var(--p-size);
   line-height: var(--p-line-height);
   color: var(--iridium);
}

.copy-1 {
   font-size: calc(var(--p-size) * 1.5);
}

label {
   font-family: var(--f-family-sans);
   font-weight: 400;
}

button,
input,
textarea {
   /* display: flex;
   align-self: center; */
   min-width: 10rem;
   min-height: var(--field-height-global);
   font-family: var(--f-family-sans);
   font-weight: 400;
   border-radius: var(--btn-radious-global);
   list-style: none;
   border: none;
   outline: none;
   transition: 0.5s;
   border: 2px solid black;
}

input,
textarea {
   padding: 0.5rem;
}

button,
input[type="submit"] {
   font-size: calc(var(--p-size) * 1);
   font-weight: 600;
   cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
   background-color: crimson;
}

textarea {
   min-height: 10rem;
   resize: none;
   overflow: hidden;
}

.btn_mg-top {
   margin: 2.5rem auto auto auto;
}

#navbar-items {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: var(--navbar-gap);
   list-style-type: none;
}

.container-navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.nav-item {
   display: flex;
   vertical-align: middle;
   font-size: calc(var(--p-size) * 1);
}

#container-search {
   display: flex;
   flex-direction: row;
   gap: 0.25rem;
}

#button-search {
   min-width: 1rem;
   margin: 0;
   padding: 0 1rem 0 1rem;
}

#slider {
   width: 100%;
   height: 50vh;
   padding: 0;
   background-color: darkseagreen;
}

.slider-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.container-cursos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2.5rem;
}

.cursos {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* max-width: calc(100% / 4); */
   background-color: chartreuse;
}

.cursos-title {
   font-family: var(--f-family-serif);
}

.copy-1-img {
   width: 100%;
   aspect-ratio: 16/9;
   margin-bottom: 2.5rem;
   object-fit: cover;
   border: 2px solid black;
}

.container-cursos-img {
   position: relative;
   width: 100%;
   aspect-ratio: 1/1;
   margin: 0 0 1rem 0;
   border: 2px solid black;
   overflow: hidden;
   transition: 0.5s;
   background-color: darkorange;
}

.course-img {
   width: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
   transition: 0.5s;
   background-color: bisque;
}

.course-img:hover {
   /* transform: scale(1.05); */
}

.container-cursos-img:hover {
   transform: translatey(-1rem);
}

.container-testimonials {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2.5rem;
   margin-top: 2.5rem;
}

.container-testimonial {
   display: flex;
   flex-direction: column;
   background-color: deeppink;
}

.img-testimonial {
   width: 100%;
   aspect-ratio: 4/3;
   margin-bottom: 1rem;
   object-fit: cover;
   border: 2px solid black;
}

.testimonial {
   font-size: calc(var(--p-size) * 1.25);
}

form {
   display: flex;
   flex-direction: column;
   margin: 2.5rem auto auto auto;
   min-width: 30rem;
   gap: 0.5rem;
   background-color: aqua;
}

@media screen and (width <= 1024px) {
}

@media screen and (width <= 768px) {
   header,
   section,
   footer {
      padding: 2.5rem;
   }

   .container-cursos {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (width <= 390px) {
   header,
   section,
   footer {
      padding: 2.5rem;
   }

   .container-cursos {
      grid-template-columns: 1fr;
   }
}
