* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* COLORS */
   --iridium: #181818;

   /* FONTS */
   --h-family: "Montserrat", sans-serif;
   /* --h-family: "Afacad Flux", sans-serif; */
   /* --h-family: "Poppins", sans-serif; */
   --p-family: "Lora", serif;
   /* --p-family: "Merriweather", serif; */
   /* --p-family: "Roboto", sans-serif; */
   --p-size: 12pt;
   --p-line-height: 1.75;

   /* WIDTHS */
   --max-width-xxl: 1024px;

   /* HEIGHTS */
   --btn-height-global: 2.5rem;
   --field-height-global: var(--btn-height-global);

   /* GAPS */
   --navbar-gap: 1.5rem;

   /* RADIOUS */
   --btn-radious-global: 0.5rem;
   --field-radious-global: var(--btn-radious-global);
}

html {
   font-size: 12pt;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

body {
}

#announcements {
   font-size: calc(var(--p-size) * 2);
   align-content: center;
   padding: 1rem;
   background-color: aquamarine;
}

.container-announcement {
   max-width: var(--max-width-xxl);
   background-color: coral;
   overflow: hidden;
}

#announcement {
   position: relative;
   left: 100%;
   padding: 0;
   animation: roller 30s linear 2s infinite forwards;
   text-wrap: nowrap;
}

@keyframes roller {
   0% {
      left: 100%;
   }
   100% {
      left: -100%;
   }
}

header,
section,
footer {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 5rem;
   align-items: center;
   border: 2px solid black;
}

header {
   padding: 0;
}

nav,
.container-general,
.container-navbar {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: var(--max-width-xxl);
   background-color: blueviolet;
}

nav {
   font-family: var(--h-family);

   font-weight: 600;
   padding: 1rem 0 1rem 0;
   background-color: darkblue;
}

section {
}

a {
   text-decoration: none;
   color: black;
}
a:hover {
   color: red;
}
a:active {
   color: black;
}
/* a:visited {
   color: red;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
   /* FONTS */
   font-family: var(--h-family);
   font-weight: 600;
   text-align: center;
   color: var(--iridium);
   padding-bottom: 2.5rem;
}

h1 {
   font-size: calc(var(--p-size) * 4);
}

h2 {
   font-size: calc(var(--p-size) * 3);
}

h3 {
   font-size: calc(var(--p-size) * 2);
}

h4 {
   font-size: calc(var(--p-size) * 1.5);
}

p {
   /* FONTS */
   font-family: var(--p-family);
   font-size: var(--p-size);
   line-height: var(--p-line-height);
   color: var(--iridium);
}

.copy-1 {
   font-size: calc(var(--p-size) * 1.5);
}

button,
input[type="text"],
input[type="submit"] {
   /* display: flex;
   align-self: center; */
   min-width: 10rem;
   min-height: var(--btn-height-global);
   font-family: var(p-family);
   border-radius: var(--btn-radious-global);
   list-style: none;
   border: none;
   cursor: pointer;
   transition: 0.5s;
}

button:hover,
input[type="submit"]:hover {
   background-color: crimson;
}

.btn_mg-top {
   margin: 2.5rem auto auto auto;
}

#navbar-items {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: var(--navbar-gap);
   list-style-type: none;
}

.container-navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.nav-item {
   display: flex;
   vertical-align: middle;
}

#button-search {
   min-width: 1rem;
   margin: 0;
   padding: 0 1rem 0 1rem;
}

#slider {
   width: 100%;
   height: 50vh;
   padding: 0;
   background-color: darkseagreen;
}

.slider-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.container-cursos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cursos {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* max-width: calc(100% / 4); */
   padding: 1rem;
   background-color: chartreuse;
}

.course-img {
   width: 100%;
   aspect-ratio: 1/1;
   border: 2px solid black;
   margin: 0 0 2.5rem 0;
   object-fit: cover;
   background-color: bisque;
}

form {
   display: flex;
   flex-direction: column;
   margin: 2.5rem auto auto auto;
   min-width: 30rem;
   gap: 0.5rem;
   background-color: aqua;
}

input {
   min-height: var(--field-height-global);
   padding: 0.5rem;
}
