#noticias {
   /*    max-width: 100%;
   max-height: 40rem; */
}

.noticias-item-dummy {
   width: 100%;
   min-height: 10rem;
   background-color: gray;
}

.supercontainer-noticias {
   position: relative;
   overflow: hidden;
   max-width: 100%;
}

.container-noticias {
   position: relative;
   display: flex;
   flex-direction: row;
   max-height: min-content;
   left: 0%;
   transition: var(--transition-slow);
}

/* .container-noticia-img {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   aspect-ratio: 4/3;
   margin: 0 0 1rem 0;
   border: var(--global-layout-border);
   overflow: hidden;
   background-color: white;
   transition: var(--transition-quick);
   background-color: darkorange;
} */

.noticia-img {
   width: 100%;
   /* aspect-ratio: 4/3; */
   aspect-ratio: 1/1;
   object-fit: cover;
   transition: var(--transition-quick);
   filter: opacity(1);
   background-color: bisque;
}

.container-noticia {
   min-width: 100%;
   display: grid;
   grid-template-columns: 3fr 2fr;
   gap: 2.5rem;
   padding: 0 5rem 0 5rem;
}

.center-vertically {
   margin: auto;
}

.slider-button {
   position: absolute;
   display: flex;
   flex-direction: column;
   min-height: var(--slider-button-size);
   aspect-ratio: 1/1;
   font-size: calc(var(--p-size) * 2.5);
   text-align: center;
   color: var(--palette3-color-5);
   transition: var(--transition-quick) ease;
   z-index: 20;
   /*    background-color: deepskyblue; */
}

.slider-button:hover {
   color: var(--obsidian);
   transform: scale(1.25);
   cursor: pointer;
   color: var(--palette3-color-4);
}

#noticias-slide-button-left {
   visibility: hidden;
   top: calc(50% - var(--slider-button-size) / 2);
   left: 0;
}

#noticias-slide-button-right {
   visibility: visible;
   top: calc(50% - var(--slider-button-size) / 2);
   right: 0;
}

.container-noticia-text {
   text-align: left;
   max-height: 100%;
}

.header-noticia {
   text-align: left;
   margin-bottom: 0.5rem;
}

.copy-1-noticia {
   max-width: 100%;
   font-size: calc(var(--p-size) * 1.2);
   /* text-wrap: balance; */
   /* overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap; */
}

/* PAGE */
#container-noticias-big {
   gap: var(--gap-global);
   margin: auto;
   background-color: aquamarine;
}

#container-noticias-top {
   display: grid;
   grid-template-columns: 3fr 2fr;
   gap: var(--gap-global);
   width: 100%;
   background-color: chartreuse;
}

#noticias-1 {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: var(--gap-global);
   background-color: blueviolet;
}
#noticias-2 {
   display: flex;
   flex-direction: column;
   gap: var(--gap-global);
   width: 100%;
   height: 20rem;
   background-color: chocolate;
}

#container-noticias-3 {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: yellow;
}

#noticias-3 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: var(--gap-global);
   width: 100%;
   background-color: darkgreen;
}
