:root {
   /* COLORS */
   --iridium: #181818;
   --iridium-25: #18181844;
   --navbar-background: var(--palette3-color-1);
   --navbar-shadow: var(--iridium-25);
   /* COLORS - paleta 1 */
   --palette1-color-1: #32394f;
   --palette1-color-2: #e37276;
   --palette1-color-3: #73a1d3;
   --palette1-color-4: #ececee;
   --palette1-color-5: #f0ee85;

   /* COLORS - paleta 1 */
   --palette2-color-1: #e7e7bb;
   --palette2-color-2: #1c2a30;
   --palette2-color-3: #00766c;
   --palette2-color-4: #2dad9e;
   --palette2-color-5: #f07552;

   /* COLORS - paleta 1 */
   --palette3-color-1: #fdfbe3;
   --palette3-color-2: #03aeb2;
   --palette3-color-2-L98: #c6ffff;
   --palette3-color-3: #f8ab1b;
   --palette3-color-3-L98: #fff4d2;
   --palette3-color-4: #ec146c;
   --palette3-color-5: #10142f;
   --palette3-color-5-O22: #10142f22;

   /* FONTS */
   --f-family-sans: "Montserrat", sans-serif;
   /* --f-family-sans: "Afacad Flux", sans-serif; */
   /* --f-family-sans: "Poppins", sans-serif; */
   --f-family-serif: "Lora", serif;
   /* --f-family-serif: "Merriweather", serif; */
   /* --f-family-serif: "Roboto", sans-serif; */
   --p-family: "Hind Madurai", sans-serif;
   --p-size: 12pt;
   --p-line-height: 1.5;

   /* WIDTHS */
   --max-width-sm: 768px;
   --max-width-md: 900px;
   --max-width-lg: 1024px;
   --max-width-xl: 1280px;
   --max-width-xxl: 1440px;
   --max-width-xxxl: 2080px;

   /* HEIGHTS */
   --field-height-global: var(--btn-height-global);

   /* PADDINGS */
   --textarea-padding-global: 1rem;
   --btn-lateral-padding: 1.25rem;
   --btn-padding-global: 0.75rem var(--btn-lateral-padding) 0.75rem var(--btn-lateral-padding);

   /* GAPS */
   --navbar-gap: 1.5rem;
   --gap-global: 1rem;

   /* RADIOUS */
   --img-radious-global: 1rem;
   --btn-radious-global: 1.5rem;
   --field-radious-global: var(--btn-radious-global);

   /* BORDERS */
   --global-layout-border: 0px solid black;

   /* BUTTONS */
   --btn-height-global: 3rem;
   --slider-button-size: 2.5rem;

   /* TRANSITIONS */
   --transition-quick: 0.25s;
   --transition-normal: 0.5s;
   --transition-slow: 1s;
   --transition-very-slow: 2s;
}
