body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
   
}

header {
    background: #940381cc;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main{
    margin: 20px;
    padding: 20px;
}

.terminosCondiciones{
display: flex;
justify-content: left;
padding-bottom: 10px;

border-radius: 30px;

}

.terminosCondiciones ul li{
    padding-bottom: 5px;
    list-style: none;
    margin: auto;
}
.terminosCondiciones p{
    text-align: justify;
    line-height: 2;
}

h1, h2, h3 {
    text-align: left;
    color: #0b18d6;
}
.derechosUsuarios{
    display: inline-block;
    width: 100%;
    
}
.usoInformacion{
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}